ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

li {
    display: inline;
    float: left;
    display: block;
    padding: 8px;
    color: white;
    background-color: gray;
    position: sticky;
}

li:hover {
    background-color: blue;
}

div#formRegistro {
    width: 100px;
    height: 200px;
}

.linea {
    border-color: rgb(5, 190, 5);
}