.button-round {
    border-radius: 1rem;
    width: 200px;
    height: 50px;
    background-color: blue;
    color: white;
    border: 2px solid blue;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-round:hover {
    background-color: green;
    border: 2px solid green;
}